{% extends 'base.html.twig' %}

{% block title %}New Liste{% endblock %}

{% block body %}
<br/ >
<div class="container">
    <h2>Create new Liste</h2>
    <br />
    {{ include('liste/_form.html.twig') }}

    <a href="{{ path('app_liste_index') }}">Back to List</a>
</div>
{% endblock %}
